# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017/AuthDB

# Secret key for JWT
SECRET_KEY=your-secret-key

# Email configuration for password recovery
MAIL_FROM=your@email.com
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your-username
MAIL_PASSWORD=your-password